* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
header>p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 25vh;
    color: #fff;
    margin-bottom: 50px;
    background-image: url(./image/images.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-size: 1.5em;
    text-shadow: -3px -6px 5px rgba(0, 0, 0, 0.72);
}

.formulario {
    display: flex;
    flex-direction: column;
}

form,
.datos {
    width: 85vw;
    margin: 50px auto;
    text-align: center;
}

input[type=text],
input[type=email],
select {
    padding: .3em;
    margin: 6px auto;
    text-align: center;
    width: 80%;
    border: none;
    border-bottom: 1px solid rgb(102, 11, 11);
}

option:hover {
    color: #fff;
    background-color: #105c9f;
}

input[type=submit] {
    width: 70%;
    margin: .5em auto auto auto;
    padding: .3em .3em;
    background-color: #105c9f;
    color: #fff;
    border-radius: 10px;
    font-size: 1.2em;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: #fff;
    color: rgb(16, 92, 159);
}

.datos {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.borde{
    border: 1px solid #105c9f;
}


/* Responsive  */

@media (min-width: 500px) {
    header {
        height: 45vh;
    }

    header>p {
        font-size: 2.5em;
    }

    .form_y_datos {
        display: flex;
    }

    form,
    .datos {
        margin: auto 50px;
    }

    input[type=text],
    input[type=email],
    select {
        width: 50%;
    }

    input[type=submit] {
        width: 40%;
        margin: .5em auto auto auto;
        padding: .5em .3em;
        font-size: 1em;
    }

}